html, body {
    background-color: #CCCCCC;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100%;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.contactimage{
    text-align: center;
}

.main-content {
    flex: 1;
}

header {
    background-color: #3498db;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.row {
    margin-bottom: 30px;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: #3498db;
    color: #fff;
    padding: 20px 0;
}

  
h1 {
    text-align: center;
}
  
.section {
    margin-bottom: 30px;
}
  
.box {

    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;

    background-color: #f8f9fa;
    border: 1px solid #3498db;

    height: 100%;
}
  
.subsection {
    margin-bottom: 10px;
}

.projects_intro {
    font-family: Arial, sans-serif;
    text-align: center;
}

.title {
    text-align: left;
}

.Preview button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
  
.Preview button:hover {
    background-color: #1a7fc2;
}
  
.Preview button:focus {
    outline: none;
}

.ContactForm {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .ContactForm form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
  }
  
  .ContactForm label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .ContactForm input[type="text"],
  .ContactForm input[type="email"],
  .ContactForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .ContactForm button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .ContactForm button[type="submit"]:hover {
    background-color: #1a7fc2;
  }
  
  .ContactForm button[type="submit"]:focus {
    outline: none;
  }
